{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">
    {% for article in articles %}
        <article>
            <h2>{{article.title}}</h2>
            <div class="metadata">
                Ecrit le {{article.createdAt | date ('d/m/Y')}} à {{ article.createdAt | date ('H:i')}} dans la cateforie Politique
            </div>
            <div class="content">
                <img src="{{article.image}}" alt="">
                <p>{{article.content | raw}}</p>
            </div>  
            <a href="{{ path('blog_show', {'id' : article.id}) }}" class="btn btn-primary">Lire la suiteb de {{article.id}}</a>  
        </article>
    {% endfor %}
</section>
{% endblock %}
